<div class="widget" id="profile_widget">
    <div class="card text-center h-100">
        <div class="card-header top-stuff">
            <h4>Your Profile</h4>
        </div>
        <div class="card-body bottom-stuff">
<<<<<<< HEAD
            <p>Welcome {{ username }}</p>
            <P>Email: </p>
=======
            <p>Welcome: {{spotifyInfo.name}}</p>
            <P>Email: {{spotifyInfo.email}}</p>
            <P>Country: {{spotifyInfo.country}}</p>
            <P>Subscription: {{spotifyInfo.product}}</p>
            <P>URL: {{spotifyInfo.url}}</p>
>>>>>>> 5c21167383e5a9db4843b44bf14949368bb62852
        </div>
    </div>
</div>
