<div class="widget col-12 col-lg-6" id="profile_widget">
    <div class="card text-center h-100">
        <div class="card-header">
            <h4>Your Profile</h4>
        </div>
        <div class="card-body">
            <img alt="profile_image" src="{{{spotifyInfo.userData.image.url}}}">
            <p>Welcome, {{spotifyInfo.userData.name}}</p>
            <P>Email: {{spotifyInfo.userData.email}}</p>
            <P>Country: {{spotifyInfo.userData.country}}</p>
            <P>Subscription: {{spotifyInfo.userData.product}}</p>
            <P>URL: <a href = {{{spotifyInfo.url}}}>{{spotifyInfo.userData.url}}</a></p>
        </div>
    </div>
</div>
