<div class="widget col-12 col-lg-6" id="profile_widget">
    <div class="card text-center h-100">
        <div class="card-header">
            <h4>Your Profile</h4>
        </div>
        <div class="card-body">
            <p>Welcome, {{spotifyInfo.name}}</p>
            <P>Email: {{spotifyInfo.email}}</p>
            <P>Country: {{spotifyInfo.country}}</p>
            <P>Subscription: {{spotifyInfo.product}}</p>
            <P>URL: {{spotifyInfo.url}}</p>
        </div>
    </div>
</div>
