<div class="widget col-12 col-lg-6" id="profile_widget">
    <div class="card text-center h-100">
        <div class="card-header">
            <h4>Your Profile</h4>
        </div>
        <div class="card-body">
            <div class="profile-header">
                <a href = {{{spotifyInfo.userData.url}}}>
                    <img class="hover_min" alt="profile_image" src="{{{spotifyInfo.userData.image.url}}}">
                </a>
                <div class="name-div">
                    <p>Welcome,</p>
                    <h1>{{spotifyInfo.userData.name}}</h1>
                    <p id="followers">Followers - {{spotifyInfo.userData.followers}}</p>
                </div>
            </div>
            <div class="other-info">
                <P>Email: {{spotifyInfo.userData.email}}</p>
                <P>Country: {{spotifyInfo.userData.country}}</p>
                <P>Subscription: {{spotifyInfo.userData.product}}</p>
            </div>
        </div>
    </div>
</div>
