<div class="widget" id="profile_widget">
    <div class="card text-center h-100">
        <div class="card-header top-stuff">
            <h4>Your Profile</h4>
        </div>
        <div class="card-body bottom-stuff">
<<<<<<< HEAD
            <p>Welcome {{spotifyInfo.name }}</p>
=======
            <p>Welcome: {{spotifyInfo.name}}</p>
>>>>>>> e9533a5c3163fc1346158fe41234c9ee537c98f2
            <P>Email: {{spotifyInfo.email}}</p>
            <P>Country: {{spotifyInfo.country}}</p>
            <P>Subscription: {{spotifyInfo.product}}</p>
            <P>URL: {{spotifyInfo.url}}</p>
        </div>
    </div>
</div>
