<div class="widget top_widgets col-12 col-lg-4" id='recentlyPlayed_widget' >
    <div class='card small h-100'>
        <div class="card-header text-center">
            <h4>Recently Played</h4>
        </div>
        <div class="card-body">
            <div class="scrollable">
                <div id = "recentlyPlayedText" class = "card-text">
                    {{#each spotifyInfo.recentlyPlayed}}
                        <div class="entry">
                            <a href="{{{this.track.album.external_urls.spotify}}}">
                                <img alt = "album image" src="{{{this.track.album.images.2.url}}}">
                            </a>
                            <div class="song-info">
                                <a id="song-name" href={{{this.track.external_urls.spotify}}}>{{this.track.name}}</a>
                                <a id="artist-name" href="{{{this.track.artists.0.external_urls.spotify}}}">{{this.track.artists.0.name}}</a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <!-- <button onclick = "location.href = '/dashboard/createLT';" type="button" id="createPlaylist" class="btn btn-outline-primary active top-buttons"> &#10133; Create Playlist</button> -->
            <button onclick = "location.href = '/dashboard/createLT';" type="button" id="createPlaylist" class="btn btn-outline-primary top-buttons"> <em class="fas fa-plus"></em> Create Playlist</button>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        makeActive(0, '#topTracks_widget');
    })
</script>
