<div class="widget col-12 col-lg-4" id='topTracks_widget' >
    <div class='card h-100 text-center'>
        <div class="card-header">
            <h4>Recommendations</h4>
        </div>
        <div class="card-body">
            <div class=" btn-group container-fluid" role="tracks-time" aria-label="Time range for top tracks">
                <button onclick = "displayA()" type="button" class="btn btn-outline-primary top-buttons">Artists</button>
                <button onclick = "displayT()" type="button" class="btn btn-outline-primary top-buttons">Songs</button>
                <button onclick = "displayG()" type="button" class="btn btn-outline-primary top-buttons">Genres</button>
            </div>
            <ol id = "artists" class="card-text text-center" style = "display:none">
                {{#each spotifyInfo.recommendationsA}}
                    <li><a href = {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></li>
                {{/each}}
            </ol>
            <ol id = "tracks" class="card-text text-center" style = "display:none">
                {{#each spotifyInfo.recommendationsT}}
                    <li><a href = {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></li>
                {{/each}}
            </ol>
            <ol id = "genres" class="card-text text-center" style = "display:none">
                {{#each spotifyInfo.recommendationsG}}
                    <li><a href = {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>

<script>
  function displayA() {
    document.getElementById("artists").style.display = "block";
    document.getElementById("tracks").style.display = "none";
    document.getElementById("genres").style.display = "none";
    }

  function displayT() {
    document.getElementById("artists").style.display = "none";
    document.getElementById("tracks").style.display = "block";
    document.getElementById("genres").style.display = "none";

  }
  function displayG() {
    document.getElementById("artists").style.display = "none";
    document.getElementById("tracks").style.display = "none";
    document.getElementById("genres").style.display = "block";

  }
</script>
