<div class="widget top_widgets col-12 col-lg-4" id='recommendations_widget' >
    <div class='card h-100 small'>
        <div class="card-header text-center">
            <h4>Recommendations</h4>
        </div>
        <div class="card-body">
            <div class=" btn-group container-fluid" role="tracks-time" aria-label="Time range for top tracks">
                <button onclick = "makeActive(0, '#recommendations_widget')" type="button" class="btn btn-outline-primary top-buttons">Artists</button>
                <button onclick = "makeActive(1, '#recommendations_widget')" type="button" class="btn btn-outline-primary top-buttons">Songs</button>
                <button onclick = "makeActive(2, '#recommendations_widget')" type="button" class="btn btn-outline-primary top-buttons">Genres</button>
            </div>
            
            <div class="scrollable"> 
                <div id = "artists" class = "card-text">
                    {{#each spotifyInfo.recommendationsA}}
                        <div class="entry">
                            <a href="{{{this.album.external_urls.spotify}}}">
                                <img src="{{{this.album.images.2.url}}}">
                            </a>
                            <div class="song-info">
                                <a id="song-name" href={{{this.external_urls.spotify}}}>{{this.name}}</a>
                                <a id="artist-name" href="{{{this.artists.0.external_urls.spotify}}}">{{this.artists.0.name}}</a>
                            </div>
                        </div>
                    {{/each}}
                    
                </div>
                <div id = "tracks" class = "card-text"">
                    {{#each spotifyInfo.recommendationsT}}
                        <div class="entry">
                            <a href="{{{this.album.external_urls.spotify}}}">
                                <img src="{{{this.album.images.2.url}}}">
                            </a>
                            <div class="song-info">
                                <a id="song-name" href={{{this.external_urls.spotify}}}>{{this.name}}</a>
                                <a id="artist-name" href="{{{this.artists.0.external_urls.spotify}}}">{{this.artists.0.name}}</a>
                            </div>
                        </div>
                    {{/each}}
                    
                </div>
                <div id = "genres" class = "card-text">
                    {{#each spotifyInfo.recommendationsG}}
                        <div class="entry">
                            <a href="{{{this.album.external_urls.spotify}}}">
                                <img src="{{{this.album.images.2.url}}}">
                            </a>
                            <div class="song-info">
                                <a id="song-name" href={{{this.external_urls.spotify}}}>{{this.name}}</a>
                                <a id="artist-name" href="{{{this.artists.0.external_urls.spotify}}}">{{this.artists.0.name}}</a>
                            </div>
                        </div>
                    {{/each}}
        
                </div>
                
            </div>

            <button type="button" id="createPlaylist" class="btn btn-outline-primary top-buttons" style="margin-left:110px"> &#10133; Create Playlist</button>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        makeActive(0, '#recommendations_widget');
    })
</script>
