<div class="widget top_widgets col-12 col-lg-4" id='topArtists_widget' >
    <div class='card top-stuff h-100 '>
        <div class="card-header text-center">
            <h4>Top Artists</h4>
        </div>
        <div class="card-body">
            <div class="btn-group container-fluid" role="tracks-time" aria-label="Time range for Top Albums">
                <button onclick = "makeActive(0, '#topArtists_widget')" type="button" class="btn btn-outline-primary top-buttons">1 Month</button>
                <button onclick = "makeActive(1, '#topArtists_widget')" type="button" class="btn btn-outline-primary top-buttons">6 Months</button>
                <button onclick = "makeActive(2, '#topArtists_widget')" type="button" class="btn btn-outline-primary top-buttons">All Time</button>
            </div>
            <div class="scrollable">
                <div id = "short" class = "card-text">
                    {{#each spotifyInfo.topArtistsShort}}
                        <div class="entry">
                            <a href="{{{this.external_urls.spotify}}}">
                                <img alt="artist image" src="{{{this.images.2.url}}}">
                            </a>
                            <div class="song-info">
                                <a id="top-artist-name" href="{{{this.external_urls.spotify}}}">{{this.name}}</a>
                            </div>
                        </div>
                    {{/each}}
                </div>

                <div id = "medium" class = "card-text">
                    {{#each spotifyInfo.topArtistsMedium}}
                        <div class="entry">
                            <a href="{{{this.external_urls.spotify}}}">
                                <img alt="artist image" src="{{{this.images.2.url}}}">
                            </a>
                            <div class="song-info">
                                <a id="top-artist-name" href="{{{this.external_urls.spotify}}}">{{this.name}}</a>
                            </div>
                        </div>
                    {{/each}}
                </div>

                <div id = "long" class = "card-text">
                    {{#each spotifyInfo.topArtistsLong}}
                        <div class="entry">
                            <a href="{{{this.external_urls.spotify}}}">
                                <img alt="artist image" src="{{{this.images.2.url}}}">
                            </a>
                            <div class="song-info">
                                <a id="top-artist-name" href="{{{this.external_urls.spotify}}}">{{this.name}}</a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        makeActive(0, '#topArtists_widget');
    })
</script>
