<div class="widget col-12 col-lg-4" id='topArtists_widget' >
    <div class='card top-stuff h-100 text-center'>
        <div class="card-header">
            <h4>Top Artists</h4>
        </div>
        <div class="card-body">
            <div class="btn-group container-fluid " role="tracks-time" aria-label="Time range for Top Albums">
                <button onclick = "displayS()" type="button" class="btn btn-outline-primary top-buttons">1 Month</button>
                <button onclick = "displayM()" type="button" class="btn btn-outline-primary top-buttons">6 Months</button>
                <button onclick = "displayL()" type="button" class="btn btn-outline-primary top-buttons">12 Months</button>
            </div>
            <ol id = "short" class="card-text top-texts" style = "display:none">
                {{#each spotifyInfo.topArtistsShort}}
                    <li><a href = {{{this.external_urls.spotify}}}>{{this.name}}</a></li>
                {{/each}}
            </ol>
            <ol id = "medium" class="card-text top-texts" style = "display:none">
                {{#each spotifyInfo.topArtistsMedium}}
                    <li><a href = {{{this.external_urls.spotify}}}>{{this.name}}</a></li>
                {{/each}}
            </ol>
            <ol id = "long" class="card-text top-texts" style = "display:none">
                {{#each spotifyInfo.topArtistsLong}}
                    <li><a href = {{{this.external_urls.spotify}}}>{{this.name}}</a></li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>

<script>
  function displayS() {
    document.getElementById("short").style.display = "block";
    document.getElementById("medium").style.display = "none";
    document.getElementById("long").style.display = "none";
    }

  function displayM() {
    document.getElementById("short").style.display = "none";
    document.getElementById("medium").style.display = "block";
    document.getElementById("long").style.display = "none";

  }
  function displayL() {
    document.getElementById("short").style.display = "none";
    document.getElementById("medium").style.display = "none";
    document.getElementById("long").style.display = "block";

  }
</script>
