<div class="widget col-12 col-lg-4" id='topArtists_widget' >
    <div class='card top-stuff h-100 text-center'>
        <div class="card-header">
            <h4>Top Artists</h4>
        </div>
        <div class="card-body">
            <div class="btn-group container-fluid " role="tracks-time" aria-label="Time range for Top Albums">
                <button onclick = "makeActive(0, '#topArtists_widget')" type="button" class="btn btn-outline-primary top-buttons">1 Month</button>
                <button onclick = "makeActive(1, '#topArtists_widget')" type="button" class="btn btn-outline-primary top-buttons">6 Months</button>
                <button onclick = "makeActive(2, '#topArtists_widget')" type="button" class="btn btn-outline-primary top-buttons">All Time</button>
            </div>
            <ol id = "short" class="card-text top-texts" style = "display:none">
                {{#each spotifyInfo.topArtistsShort}}
                    <li><img alt = "artist_img" src="{{{this.images.2.url}}}" width="50" height="50"> <a href = {{{this.external_urls.spotify}}}>{{this.name}}</a></li>
                {{/each}}
            </ol>
            <ol id = "medium" class="card-text top-texts" style = "display:none">
                {{#each spotifyInfo.topArtistsMedium}}
                    <li><img alt = "artist_img" src="{{{this.images.2.url}}}" width="50" height="50"><a href = {{{this.external_urls.spotify}}}>{{this.name}}</a></li>
                {{/each}}
            </ol>
            <ol id = "long" class="card-text top-texts" style = "display:none">
                {{#each spotifyInfo.topArtistsLong}}
                    <li><img alt = "artist_img" src="{{{this.images.2.url}}}" width="50" height="50"><a href = {{{this.external_urls.spotify}}}>{{this.name}}</a></li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        makeActive(0, '#topArtists_widget');
    })
</script>
