<div class="widget top_widgets col-12 col-lg-4" id='topTracks_widget' >
    <div class='card small h-100'>
        <div class="card-header text-center">
            <h4>Top Tracks</h4>
        </div>
        <div class="card-body">
            <div class=" btn-group container-fluid" role="tracks-time" aria-label="Time range for top tracks">
                <button onclick = "makeActive(0, '#topTracks_widget')" type="button" id="button1" class="btn btn-outline-primary top-buttons active">1 Month</button>
                <button onclick = "makeActive(1, '#topTracks_widget')" type="button" id="button2" class="btn btn-outline-primary top-buttons">6 Months</button>
                <button onclick = "makeActive(2, '#topTracks_widget')" type="button" id="button3" class="btn btn-outline-primary top-buttons">All Time</button>
            </div>

            <div class="scrollable">
                <div id = "shortTracks" class = "card-text">
                    {{#each spotifyInfo.topTracksShort}}
                        <div class="entry">
                            <a href="{{{this.album.external_urls.spotify}}}">
                                <img src="{{{this.album.images.2.url}}}">
                            </a>
                            <div class="song-info">
                                <a id="song-name" href={{{this.external_urls.spotify}}}>{{this.name}}</a>
                                <a id="artist-name" href="{{{this.artists.0.external_urls.spotify}}}">{{this.artists.0.name}}</a>
                            </div>
                        </div>
                    {{/each}}
                </div>

                <div id = "mediumTracks" class = "card-text">
                    {{#each spotifyInfo.topTracksMedium}}
                    <div class="entry">
                        <a href="{{{this.album.external_urls.spotify}}}">
                            <img src="{{{this.album.images.2.url}}}">
                        </a>
                        <div class="song-info">
                            <a id="song-name" href={{{this.external_urls.spotify}}}>{{this.name}}</a>
                            <a id="artist-name" href="{{{this.artists.0.external_urls.spotify}}}">{{this.artists.0.name}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>

                <div id = "longTracks" class = "card-text">
                    {{#each spotifyInfo.topTracksLong}}
                    <div class="entry">
                        <a href="{{{this.album.external_urls.spotify}}}">
                            <img src="{{{this.album.images.2.url}}}">
                        </a>
                        <div class="song-info">
                            <a id="song-name" href={{{this.external_urls.spotify}}}>{{this.name}}</a>
                            <a id="artist-name" href="{{{this.artists.0.external_urls.spotify}}}">{{this.artists.0.name}}</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            <button onclick = "location.href = '/dashboard/createLT';" type="button" id="createPlaylist" class="btn btn-outline-primary active top-buttons"> &#10133; Create Playlist</button>
        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        makeActive(0, '#topTracks_widget');
    })
</script>
