<div class="widget col-12 col-lg-4" id='topTracks_widget' >
    <div class='card text-center'>
        <div class="card-header">
            <h4>Top Tracks</h4>
        </div>
        <div class="card-body">
            <div class=" btn-group container-fluid" role="tracks-time" aria-label="Time range for top tracks">
                <button onclick = "displayShortTracks()" type="button" class="btn btn-outline-primary top-buttons">1 Month</button>
                <button onclick = "displayMediumTracks()" type="button" class="btn btn-outline-primary top-buttons">6 Months</button>
                <button onclick = "displayLongTracks()" type="button" class="btn btn-outline-primary top-buttons">12 Months</button>
            </div>
            <ol id = "shortTracks" class="card-text text-center" style = "display:none">
                {{#each spotifyInfo.topTracksShort}}
                    <li> <a href = {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></li>
                {{/each}}
            </ol>
            <ol id = "mediumTracks" class="card-text text-center" style = "display:none">
                {{#each spotifyInfo.topTracksMedium}}
                    <li> <a href = {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></li>
                {{/each}}
            </ol>
            <ol id = "longTracks" class="card-text text-center" style = "display:none">
                {{#each spotifyInfo.topTracksLong}}
                    <li> <a href = {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></li>
                {{/each}}
            </ol>
        </div>
    </div>
</div>

<script>
  function displayShortTracks() {
    document.getElementById("shortTracks").style.display = "block";
    document.getElementById("mediumTracks").style.display = "none";
    document.getElementById("longTracks").style.display = "none";
    }

  function displayMediumTracks() {
    document.getElementById("shortTracks").style.display = "none";
    document.getElementById("mediumTracks").style.display = "block";
    document.getElementById("longTracks").style.display = "none";

  }
  function displayLongTracks() {
    document.getElementById("shortTracks").style.display = "none";
    document.getElementById("mediumTracks").style.display = "none";
    document.getElementById("longTracks").style.display = "block";

  }
</script>
