<div class="widget col-12 col-lg-4" id='topTracks_widget' >
    <div class='card'>
        <div class="card-header text-center">
            <h4>Top Tracks</h4>
        </div>
        <div class="card-body">
            <div class=" btn-group container-fluid" role="tracks-time" aria-label="Time range for top tracks">
                <button onclick = "makeActive(0, '#topTracks_widget')" type="button" id="button1" class="btn btn-outline-primary top-buttons active">1 Month</button>
                <button onclick = "makeActive(1, '#topTracks_widget')" type="button" id="button2" class="btn btn-outline-primary top-buttons">6 Months</button>
                <button onclick = "makeActive(2, '#topTracks_widget')" type="button" id="button3" class="btn btn-outline-primary top-buttons">All Time</button>
            </div>

            {{!-- <ol id = "shortTracks" class="card-text text-center" style = "display:none">
                {{#each spotifyInfo.topTracksShort}}
                    <li><img alt="album cover" src="{{{this.album.images.2.url}}}" width="50" height="50"> <a style="font-size: 20px; padding-left: 10px; color:white; text-decoration: none;" href = {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></li>
                {{/each}}
            </ol> --}}

            <div id = "shortTracks" class = "card-text" style="padding-top: 10px; padding-left: 45px; display:none">
                {{#each spotifyInfo.topTracksShort}}
                    <p><img alt="album cover" src="{{{this.album.images.2.url}}}" width="50" height="50"><a style="font-size: 20px; padding-left: 10px; color:white; text-decoration: none;" href= {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></p>
                {{/each}}
            </div>

            {{!-- <ol id = "mediumTracks" class="card-text text-center" style = "display:none">
                {{#each spotifyInfo.topTracksMedium}}
                    <li><img alt="album cover" src="{{{this.album.images.2.url}}}" width="50" height="50"> <a href = {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></li>
                {{/each}}
            </ol> --}}

            <div id = "mediumTracks" class = "card-text" style="padding-top: 10px; padding-left: 45px; display:none">
                {{#each spotifyInfo.topTracksMedium}}
                    <p><img alt="album cover" src="{{{this.album.images.2.url}}}" width="50" height="50"><a style="font-size: 20px; padding-left: 10px; color:white; text-decoration: none;" href= {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></p>
                {{/each}}
            </div>

            {{!-- <ol id = "longTracks" class="card-text text-center" style = "display:none">
                {{#each spotifyInfo.topTracksLong}}
                    <li><img alt="album cover"src="{{{this.album.images.2.url}}}"  width="50" height="50"> <a href = {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></li>
                {{/each}}
            </ol> --}}

            <div id = "longTracks" class = "card-text" style="padding-top: 10px; padding-left: 45px; display:none">
                {{#each spotifyInfo.topTracksLong}}
                    <p><img alt="album cover" src="{{{this.album.images.2.url}}}" width="50" height="50"><a style="font-size: 20px; padding-left: 10px; color:white; text-decoration: none;" href= {{{this.external_urls.spotify}}}>{{this.name}} - {{this.artists.0.name}}</a></p>
                {{/each}}
            </div>

        </div>
    </div>
</div>

<script>
    window.addEventListener('load', () => {
        makeActive(0, '#topTracks_widget');
    })
</script>
